on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} (${{ matrix.r }}) - ${{ matrix.backend }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: "ubuntu-latest", python: "3.13", r: "release", backend: "venv" }
          - { os: "ubuntu-latest", python: "3.13", r: "release", backend: "conda" }

          - { os: "windows-latest", python: "3.13", r: "release", backend: "venv" }
          - { os: "windows-latest", python: "3.13", r: "release", backend: "conda" }

          - { os: "macOS-latest", python: "3.13", r: "release", backend: "venv" }
          - { os: "macOS-latest", python: "3.13", r: "release", backend: "conda" }

          - { os: "ubuntu-latest", python: "3.10", r: "oldrel-1", backend: "venv" }
          - { os: "ubuntu-latest", python: "3.10", r: "oldrel-2", backend: "venv" }
          - { os: "ubuntu-latest", python: "3.10", r: "oldrel-3", backend: "venv" }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      MPLBACKEND: Agg
      ACRO_USE_CONDA: ${{ matrix.backend == 'conda' && 'true' || 'false' }}

    steps:
      - name: Checkout ACRO
        uses: actions/checkout@v4

      - name: Setup Miniconda
        if: matrix.backend == 'conda'
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          auto-activate-base: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.r }}

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Check R Package
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
